
{% extends 'template.html.twig' %}

{% block title %}
Epreuve - 
{% endblock %}


{% block content %}
<div class="row mx-auto">
    <div class="col-8 offset-2">
        <h1>Epreuves</h1>
                    <div class="card">
                        <div class="card-header">
                        Epreuve : {{ race.id }} - Lieu : {{ race.location }} - Date : {{ race.date|date("d/m/Y") }}
                        - {% if  race.status == 0 %}
                        <div class="btn btn-outline-secondary">Non démarré</div>
                         {% elseif  race.status == 1 %}
                        <div class="btn  btn-outline-primary">En cours</div>
                        {% elseif  race.status == 2 %}
                        <div class="btn btn-outline-success">Terminé</div>
                        {% else %}
                        <div class="btn btn-outline-danger">Annulé</div>
                        {% endif %}

                        {% if  race.status != 3 %}
                        <a  href="/race/{{ race.id }}/formUpdate" class="btn btn-secondary" >
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                        <a href="/race/{{ race.id }}/cancel" class="btn btn-danger" >
                                <i class="fa fa-remove"></i> 
                                </a>
                        {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-6">
                                 {% if  race.status == 3 %}
                                <a href="/race/{{ race.id }}/delete" class="btn btn-danger" >
                                Supprimer l'épreuve
                                </a>
                                {% elseif race.status == 2 %}
                                {% else %}
                                <a href="/result/{{ race.id }}/formParticipantList" class="btn btn-primary" >
                                Ajouter/Modifier Participants
                                </a>

                                {% endif %}
                                </div>
                                <div class="col-6">
                                {% if  race.status == 0 %}
                                <a href="/race/{{ race.id }}/start" class="btn btn-primary" >
                                Démarrer l'épreuve →
                                </a>
                                {% elseif  race.status == 1 %}
                                    <a href="/result/{{ race.id }}/export" class="btn btn-primary" >
                                Exporter feuille de chronométrage
                                </a>

                                <form method="post" enctype="multipart/form-data" action="/result/{{ race.id }}/import">
                                    <div class="form-inline mt-2">
                                        <label for="file" class="col-1"></label>
                                        <div class="fileUpload">
                                        <input type="file" name="file" class="upload"
                                        id="file" required minlength="4" value="Import" />
                                        <span><i class="fa fa-upload" aria-hidden="true"></i></span>
                                        </div>
                                        <button type="submit" class="btn btn-success col-4">Importer Résultats
                                        </button>
                                    </div>
        
                                </form>
                                {% if  race.status == 1 or race.status == 2 %}
                                <a href="/result/{{ race.id }}"  class="btn btn-success"  id="buttonResult{{ race.id }}" >
                                Voir les résultats
                                </a>
                                {% else %}
                                <button type="button" class="btn btn-success"  disabled >
                                Voir les résultats
                                </button>
                                {% endif %}

                                <a href="/race/{{ race.id }}/finish" class="btn btn-primary"  >
                                Terminer l'épreuve
                                </a>
                                {% endif %}
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                        
                        <a href="/race/list/1" class="">
                        Retour
                        </a>
                        </div>
                     </div>


    </div>
</div>
{% endblock %}


